@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body,
html,
#root {
  height: 100%;
}

@layer components {
  .btn {
    @apply flex items-center justify-center gap-1 rounded-md border-2 border-transparent bg-slate-800 px-5 py-2.5 text-center text-white ring-gray-200 ring-offset-2 transition duration-200 hover:bg-gray-800 focus-visible:ring-2;
  }

  .btn-big {
    @apply flex items-center justify-center gap-5 rounded-md border-2 border-transparent bg-slate-800 px-8 py-4 text-center text-2xl font-semibold text-white ring-gray-200 ring-offset-2 transition duration-200 hover:bg-gray-800 focus-visible:ring-2;
  }
  .btn-option {
    @apply flex items-center justify-center rounded-sm border border-transparent bg-slate-700 px-3 py-1.5 text-center text-sm text-white shadow-md ring-gray-200 ring-offset-2 transition duration-200 hover:bg-slate-600 focus-visible:ring-2;
  }

  .form-field {
    @apply mb-4 flex flex-col;
  }

  .input-field {
    @apply block w-full rounded-md border border-gray-300 bg-gray-50 p-2.5 text-sm text-slate-800 focus:border-transparent focus:ring-2 focus:ring-main-900;
  }

  .label-field {
    @apply mb-1.5 block pl-0.5 text-sm font-medium text-slate-800;
  }
}

@layer base {
  h1 {
    @apply inline-block bg-gradient-to-r from-main-950 to-main-700 bg-clip-text text-3xl font-bold text-transparent;
  }

  h2 {
    @apply text-xl font-bold bg-gradient-to-r from-main-950 to-main-700 inline-block text-transparent bg-clip-text;
  }

  button {
    @apply focus-visible:outline-none;
  }

  .title-spacing {
    @apply mb-3;
  }

  .text-gradient {
    @apply font-bold bg-gradient-to-r from-main-950 to-main-700 inline-block text-transparent bg-clip-text;
  }
}

@layer utilities {
  .balansaas-gradient {
    @apply bg-gradient-to-br from-main-50 to-main-100;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

/* Scrollbar customization */

/* For WebKit browsers (Chrome, Safari, Edge) */
*::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
  height: 12px; /* Height of the scrollbar */
}

*::-webkit-scrollbar-track {
  background: transparent; /* Background of the scrollbar track */
  border-radius: 10px; /* Rounded corners of the scrollbar track */
}

*::-webkit-scrollbar-thumb {
  --color: #e2e8f0;
  background-color: var(--color); /* Color of the scrollbar thumb */
  border-radius: 10px; /* Rounded corners of the scrollbar thumb */
  border: 3px solid var(--color); /* Padding around the scrollbar thumb */
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #b3b3b3; /* Darker color on hover */
}

*::-webkit-scrollbar-corner {
  background: #f5f5f5; /* Background color of the bottom corner */
}
